In [1]:
import functions_for_MongoDB as mongo
database = 'test'
collection = 'test'
from test_docs import test_docs

In [2]:
mongo.find_docs(db = database,
                collection = collection
                )

'No such documents in this collection.'

In [3]:
mongo.insert_many_docs(db = database,
                       collection = collection,
                       docs = test_docs
                       )

('You seccessfully inserted many documents, documents ids: \n'
 " [ObjectId('6512b52fc675fb828949aed4'), "
 "ObjectId('6512b52fc675fb828949aed5'), ObjectId('6512b52fc675fb828949aed6')]")

In [4]:
mongo.find_docs(db = database,
                collection = collection
                )

{'_id': ObjectId('6512b52fc675fb828949aed4'),
 'age': 20,
 'country': 'Poland',
 'name': 'Dima'}
{'_id': ObjectId('6512b52fc675fb828949aed5'),
 'age': 19,
 'country': 'Turkey',
 'name': 'Oleksandra'}
{'_id': ObjectId('6512b52fc675fb828949aed6'),
 'age': 25,
 'country': 'USA',
 'name': 'Holland'}

In [5]:
mongo.count_docs(db = database,
                 collection = collection
                 )

'Number of documents in test database and test collection is: 3'

In [6]:
mongo.find_docs(db = database,
                collection = collection,
                argument = "name",
                value = "Dima"
                )

{'_id': ObjectId('6512b52fc675fb828949aed4'),
 'age': 20,
 'country': 'Poland',
 'name': 'Dima'}

In [7]:
mongo.find_docs_in_range(db = database,
                         collection = collection,
                         argument = "age",
                         minvalue = 20,
                         maxvalue=26
                         )

{'_id': ObjectId('6512b52fc675fb828949aed4'),
 'age': 20,
 'country': 'Poland',
 'name': 'Dima'}
{'_id': ObjectId('6512b52fc675fb828949aed6'),
 'age': 25,
 'country': 'USA',
 'name': 'Holland'}

In [8]:
mongo.update_doc_by_id(db = database,
                       collection = collection,
                       id = '6512b52fc675fb828949aed6',
                       new_values={'age': 45}
                       )

'Object was updated successfully!'

In [9]:
mongo.find_docs(db = database,
                collection = collection,
                argument = "_id",
                value = '6512b52fc675fb828949aed6'
                )

{'_id': ObjectId('6512b52fc675fb828949aed6'),
 'age': 45,
 'country': 'USA',
 'name': 'Holland'}

In [10]:
mongo.delete_doc_by_id(db = database,
                       collection = collection,
                       id = '6512b52fc675fb828949aed6'
                       )

'Object was deleted successfully!'

In [11]:
mongo.find_docs(db = database, 
                collection = collection
                )

{'_id': ObjectId('6512b52fc675fb828949aed4'),
 'age': 20,
 'country': 'Poland',
 'name': 'Dima'}
{'_id': ObjectId('6512b52fc675fb828949aed5'),
 'age': 19,
 'country': 'Turkey',
 'name': 'Oleksandra'}

In [12]:
mongo.delete_all_docs(db = database,
                      collection = collection
                      )

'All object were deleted successfully!'

In [13]:
mongo.find_docs(db = database,
                collection = collection
                )

'No such documents in this collection.'